.devise-form
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    .form-inputs
      = f.input :avatar
      = f.input :email, required: true, autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        p
          | Currently waiting confirmation for:
          = resource.unconfirmed_email
      = f.input :password, label: 'Senha', autocomplete: "off", placeholder: "deixe em branco se não deseja alterar a senha", required: false
      = f.input :password_confirmation, label: 'Confirmação de Senha', required: false
      = f.input :current_password, label: 'Senha atual', placeholder: "precisamos da sua senha atual para confirmar as alterações", required: true
    .form-actions
      = f.button :submit, "Atualizar"

  = link_to "Voltar", :back
