.devise-form
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :avatar
      = f.input :email, required: true, autofocus: true
      = f.input :password, label: 'Senha', required: true, placeholder: ("#{@minimum_password_length} characters minimum" if @validatable)
      = f.input :password_confirmation, label: 'Confirmação de Senha', required: true
    .form-actions
      = f.button :submit, "Cadastrar"
  = render "devise/shared/links"
