@mixin flash($color) {
  margin-top: 30px;
  background: $color;
  color: darken($color, 60);
  height: em(30);
  font-weight: bold;
  font-size: ($base-font-size * 2) / 1.8;
  text-align: center;
  padding: em(5) 0;
  margin-bottom: em(10);
}
