@mixin round-image($size) {
  background-color: $white;
  border: em(1) solid $image-border;
  border-radius: em(25);
  -moz-border-radius: em(25);
  -webkit-border-radius: em(25);
  height: em($size);
  width: em($size);
  overflow: hidden;
}
