@mixin timeline {

  @include span-columns(6);

  margin-top: 30px;

  label {
    font-size: $base-font-size * 0.8;
    font-color: $medium-gray;
  }

  %round-image-50 {
    @include round-image(50);
  }

  #round-image-50 {
    @extend %round-image-50;
  }

  #followings_links {
    h1, a{
      font-size: $base-font-size * 0.9;
      font-color: $medium-gray;
    }

  }

  ul#header {
    li {
      display: inline-block;
      margin-top: em(5);
    }
  }

  ul#footer {
    li {
      display: inline-block;
    }
  }

  #label, #followings_links {
    margin: em(1);
  }

  ul#header {
    li {
      display: inline-block;
      margin-top: em(5);
    }
  }

  ul#footer {
    li {
      display: inline-block;
    }
  }

  #label, #followings_links {
    margin: em(1);
  }
}
