#notifications-index
  #profile-info-notifications
    = render 'users/profile'

#notifications-timeline
  h1 Notificações
  - if @notifications.any?
    - @notifications.each do |notification|
      ul#header
        li = image_tag notification.user.avatar.url(:thumb), id: 'round-image-50'
        li
          h1 = link_to notification.user.email, user_path(notification.user)

      p = notification.content

      ul#footer
        li
          #label
            label = "há #{time_ago_in_words(notification.created_at)}"
        li
          #followings_links
            = render 'users/followings_links', user: notification.user
      hr

  - else
    h1 Nenhuma notificação até o momento :(
