header#header {
  @include outer-container;

  background-color: $white;
  border: em(1) solid $white;
  border-radius: em(25);
  -moz-border-radius: em(25);
  -webkit-border-radius: em(25);
  width: 100%;
  height: 50px;
  margin-top: 10px;

  #logo {
    a {
      @include span-columns(4);
      font-size: $base-font-size * 2;
      font-weight: $logo-font-weight;
      text-transform: uppercase;
      letter-spacing: $logo-letter-spacing;
      margin-top: -35px;
      margin-left: 10px;
      color: $logo-font-color;
    }
  }

  #notifications {
    h1 a {
      @include span-columns(4);
      margin-top: -25px;
      margin-left: -80px;
      width: 200px;
      font-size: ($base-font-size * 2) / 1.5;
    }
  }

  #search {
    @include span-columns(4);
    margin-top: -30px;
    display: inline;
    float: right;

    #search-input {
      @include span-columns(3 of 4);
      width: em(200);
    }

    #submit-button {
      @include span-columns(1 of 4);
    }

    #search-input, #submit-button{
      margin: 0 em(2);
    }
  }

  #links {
    @include span-columns(12);
    display: inline;
    float: right;

    .signed {
      padding: em(10) 0 0 em(480);
    }

    .not_signed {
      padding: em(10) 0 0 em(780);
    }




    li {
      margin-left: 10px;
      font-size: ($base-font-size * 2) / 1.9;
      display: inline-block;
      margin: 0 em(4);
    }
  }
}
