- if user_signed_in?
  - unless current_user.eql?(user)
    - if current_user.following?(user)
      = link_to 'Deixar de seguir', relationship_path(current_user.relationship(user)), method: :delete
    - else
      = link_to 'Seguir', relationships_path(followed_id: user.id), method: :post
