= simple_form_for @q ||= User.ransack, :url => users_path, :html => {:method => :get} do |f|
  #search-input
    = f.input :email_cont, label: false, placeholder: 'Encontre amigos'

  #submit-button
    = f.submit 'Buscar'
