#profile
  = image_tag current_user.avatar.url(:medium), id: 'round-image-150'
  h1 = link_to current_user.email, current_user

  ul
    li = "Posts #{current_user.posts.count} |"
    li = "Seguidores #{ current_user.followers.count } |"
    li = "Seguindo #{ current_user.followings.count }"
