#user-index
  h1 Usuários
  - if @users.any?
    - @users.each do |user|

        = image_tag user.avatar.url(:medium), id: 'round-image-50'
        h1 = link_to user.email, user
        #follow_link
          = render 'followings_links', user: user
  - else
    h1 Nenhum membro encontrado :(
