#user-show
  #user-header
  = image_tag @user.avatar.url(:medium), id: 'round-image-150'
  h1 = link_to @user.email, @user
  = render 'followings_links', user: @user

  h1 = "Seguidores #{ @user.followers.count }"
  ul
  - @user.followers.each do |follower|
    li = link_to (image_tag(follower.avatar.url(:thumb), alt: "#{follower.email}", id: 'round-image-50')), follower

  h1 = "Seguindo #{ @user.followings.count }"
  ul
  - @user.followings.each do |followed|
    li = link_to (image_tag(followed.avatar.url(:thumb), alt: "#{followed.email}", id: 'round-image-50')), followed

#user-posts
  = render 'posts/index', posts: @user.posts.reverse
