%flash-alert {
  @include flash($alert-color);
}

%flash-error {
  @include flash($error-color);
}

%flash-notice {
  @include flash($notice-color);
}

%flash-success {
  @include flash($success-color);
}

#flash_alert {
  @extend %flash-alert;
}

#flash_error {
  @extend %flash-error;
}

#flash_notice {
  @extend %flash-notice;
}

#flash_success {
  @extend %flash-success;
}
