#notifications-index {
  @include outer-container;
  margin-top: 30px;
  @include span-columns(6);

  #profile-info-notifications {
    @include span-columns(7);
  }
}

#notifications-timeline {
  @include timeline();
}
