.devise-form
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-inputs
      = f.input :email, required: false, autofocus: true
      = f.input :password, required: false, label: 'Senha'
      = f.input :remember_me, label: 'Lembrar-me', as: :boolean if devise_mapping.rememberable?
    .form-actions
      = f.button :submit, "Entrar"
  = render "devise/shared/links"
