h1 Timeline
- if posts.any?
  - posts.each do |post|
    ul#header
      li = image_tag post.user.avatar.url(:thumb), id: 'round-image-50'
      li
        h1= link_to "#{post.user.email}", post_path(post), id: 'email'

    p = post.content

    ul#footer
      li
        #label
          label = "há #{time_ago_in_words(post.created_at)}"
      li
        #followings_links
          = render 'users/followings_links', user: post.user
    hr

- else
  h1 Nenhuma postagem até o momento :(
