#post-show
  h4 Post
  ul#header
    li = image_tag @post.user.avatar.url(:thumb), id: 'round-image-50'
    li
      h1= link_to "#{@post.user.email}", user_path(@post.user), id: 'email'

  p = @post.content

  ul#footer
    li
      #label
        label = "há #{time_ago_in_words(@post.created_at)}"
    li
      #follow_link
      	= render 'users/followings_links', user: @post.user
  = link_to 'Voltar', request.referer
