#user-index {
  @include outer-container;
  margin-top: 30px;
  
  h1 {
    font-size: ($base-font-size * 2) / 1.6;
  }

  #follow_link {
    font-size: $base-font-size;
    font-color: $medium-gray;
    margin-top: em(-15);
    margin-bottom: em(10);
  }

  %round-image-50 {
    @include round-image(50);
  }

  #round-image-50 {
    @extend %round-image-50;
    margin-top: em(10);
  }

}
