#profile {

  h1 {
    font-size: $base-font-size * 1.5;
  }

  %round-image-150 {
    @include round-image(150);
  }

  #round-image-150 {
    @extend %round-image-150;
  }

  li {
    display: inline-block;
  }
}
