#user-show {
  @include outer-container;
  margin-top: 30px;
  @include span-columns(6);
  h1 {
    font-size: ($base-font-size * 2) / 1.6;
  }

  %round-image-150 {
    @include round-image(150);
  }

  #round-image-150 {
    @extend %round-image-150;
  }

  %round-image-50 {
    @include round-image(50);
  }

  #round-image-50 {
    @extend %round-image-50;
  }

  li {
      display: inline-block;
  }
}

#user-posts {
  @include timeline();
}
