#new-post{
  @include outer-container;
  margin-top: 30px;
  @include span-columns(6);

  h1 {
    font-size: ($base-font-size * 2) / 1.6;
  }

  .post_content{
    @include span-columns(5);
    width: em(300);
  }

  .form-actions {
    @include span-columns(1);
    height: em(80);
    width: em(80);
  }

  .post_content, .form-actions {
    margin: 0 em(2);
  }

  #profile-info {
    @include span-columns(7);
  }
}

#index {
  @include timeline();
}
