#links
  - if user_signed_in?

    ul
      .signed
        li = link_to 'Minha conta', edit_user_registration_path
        li = link_to 'Sair', destroy_user_session_path, :method => :delete

  - else

    ul
      .not_signed
        li = link_to 'Cadastrar-se', new_user_registration_path
        li = link_to 'Entrar', new_user_session_path

#logo
  = link_to "MyWitter", root_path

- if user_signed_in?
  #notifications
    h1 = link_to "Notificações #{Notification.notifications_not_seen_counter(current_user.id)}", notifications_path

  #search
    = render 'users/form'
